
@{
    ViewBag.Title = "Dashboard";
    //ViewBag.Breadcrumbs = new List<Breadcrumb>()
    //{
    //new Breadcrumb() { Name = "Dashboard", Link = "/" },
    //new Breadcrumb() { Name = "Escala", Link = @Url.Action("Index","Escala"), IsActive = true}
    //};
}

@*<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Nome do Bombeiro</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Nome do Bombeiro</th>
                            <th>1</th>
                            <th>2</th>
                            <th>3</th>
                            <th>4</th>
                            <th>5</th>
                            <th>6</th>
                            <th>7</th>
                            <th>8</th>
                            <th>9</th>
                            <th>10</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>*@