
@{
    ViewBag.Title = "Dashboard";
}


@inject SignInManager<Bombeiro> SignInManager
@inject UserManager<Bombeiro> UserManager

@{
    var fullUser = UserManager.GetUserAsync(User).Result;
}


<div class="card m-b-20">
    <div class="card-body">
        <div>
            <center><h5>Bem vindo! @fullUser.Nome </h5></center>
            <br/>
</div>
        
        @if (fullUser.PostoId == new Guid())
        {
            <div class="alert alert-warning" role="alert">
                <strong>
                    Dados pendentes! Favor indicar o Posto a qual pertence.
                    <a href="@Url.Action("Detail","Bombeiro", new { @id = fullUser.Id })">  Alterar</a>
                </strong>
            </div>
        }

        @if (fullUser.QuartelId == new Guid())
        {
            <div class="alert alert-warning" role="alert">
                <strong>
                    Dados pendentes! Favor indicar o Quartel a qual pertence.
                    <a href="@Url.Action("Detail","Bombeiro", new { @id = fullUser.Id })">  Alterar</a>
                </strong>
            </div>
        }
    </div>
</div>


