@page
@model ChangePasswordModel
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Alterar Palavra-passe";
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Alterar Palavra-passe", Link = @Url.Action("Create","Bombeiro"), IsActive = true}
};
}

@Html.Partial("_StatusMessage", Model.StatusMessage)


<div class="row">
    <div class="col-lg-6">
        <div class="card">
            <div class="card-body">
                <form id="change-password-form" method="post">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.OldPassword"></label>
                        <input asp-for="Input.OldPassword" class="form-control" />
                        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.NewPassword"></label>
                        <input asp-for="Input.NewPassword" class="form-control" />
                        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control" />
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                    @*<button type="submit" class="btn btn-default">Update password</button>*@

                    <button type="submit" class="btn btn-primary w-md waves-effect waves-light">Alterar palavra-passe</button>
                    <button type="reset" class="btn btn-secondary waves-effect m-l-5" onclick="location.href='/'">Cancelar</button>

                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
