<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <h4 class="page-title">@ViewData["Title"]</h4>
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">Home > Batalhao > Cadastrar</li>
            </ol>
        </div>
    </div>
</div>
