<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>Mapa da Força</title>
    <meta content="Mapa da Força" name="description">
    <meta content="Hexagon" name="author">
    <link rel="shortcut icon" href="images/favicon.ico">

    <link href="/plugins/morris/morris.css" rel="stylesheet" type="text/css">
    <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/css/metismenu.min.css" rel="stylesheet" type="text/css">
    <link href="/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">

    <link href="/plugins/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" rel="stylesheet">
    <link href="/plugins/sweet-alert2/sweetalert2.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/select2/css/select2.min.css" rel="stylesheet" type="text/css">

    <link href="/plugins/datatables/dataTables.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/datatables/buttons.bootstrap4.min.css" rel="stylesheet" type="text/css">
    <link href="/plugins/datatables/responsive.bootstrap4.min.css" rel="stylesheet" type="text/css">

    <script src="/js/jquery.min.js"></script>

    <link href="/plugins/fullcalendar/css/fullcalendar.min.css" rel="stylesheet">


    @RenderSection("Styles", required: false)
</head>

<body>
    <div id="wrapper">

        <partial name="_TopBar" />


        <partial name="_SideBar" />


        <!-- Start right Content here -->
        <div class="content-page">
            <div class="content">
                <div class="container-fluid">

                    <partial name="_Header" />

                    @RenderBody()

                </div>
            </div>

            <partial name="_Footer" />

        </div>
        <!-- End Right content here -->

    </div>


    <!-- jQuery  -->
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/metisMenu.min.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="/js/waves.min.js"></script>
    <script src="/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!--Morris Chart-->
    @*<script src="/plugins/morris/morris.min.js"></script>*@
    <script src="/plugins/raphael/raphael-min.js"></script>
    @*<script src="/pages/dashboard.js"></script>*@

    <!-- Required datatable js -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables/dataTables.bootstrap4.min.js"></script>
    <!-- Buttons examples -->
    <script src="/plugins/datatables/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/datatables/jszip.min.js"></script>
    <script src="/plugins/datatables/pdfmake.min.js"></script>
    <script src="/plugins/datatables/vfs_fonts.js"></script>
    <script src="/plugins/datatables/buttons.html5.min.js"></script>
    <script src="/plugins/datatables/buttons.print.min.js"></script>
    <script src="/plugins/datatables/buttons.colVis.min.js"></script>
    <!-- Responsive examples -->
    <script src="/plugins/datatables/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables/responsive.bootstrap4.min.js"></script>
    <!-- Datatable init js -->
    <script src="/pages/datatables.init.js"></script>
    <!-- Sweet-Alert  -->
    <script src="/plugins/sweet-alert2/sweetalert2.min.js"></script>
    <script src="/pages/sweet-alert.init.js"></script>
    <!-- Plugins js -->
    <script src="/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
    <script src="/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/plugins/select2/js/select2.min.js"></script>
    <script src="/plugins/bootstrap-maxlength/bootstrap-maxlength.min.js"></script>
    <script src="/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js"></script>
    <script src="/plugins/bootstrap-touchspin/js/jquery.bootstrap-touchspin.min.js"></script>

    <script src="/plugins/jquery-ui/jquery-ui.min.js"></script>
    <script src="/plugins/moment/moment.js"></script>
    <script src="/plugins/fullcalendar/js/fullcalendar.min.js"></script>
    <script src="/pages/calendar-initx.js"></script>
    <!-- Plugins Init js -->
    <script src="/pages/form-advanced.js"></script>
    <!-- App js -->
    <script src="/js/app.js"></script>
    <!-- Notification -->
    <script src="/js/notify.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>