<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=0,minimal-ui">
    <title>Lexa - Responsive Bootstrap 4 Admin Dashboard</title>
    <meta content="Admin Dashboard" name="description">
    <meta content="Themesbrand" name="author">
    <link rel="shortcut icon" href="/images/favicon.ico">
    <link href="/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" />
    <link href="/metisMenu/metisMenu.min.css" rel="stylesheet" />
    <link href="/css/icons.css" rel="stylesheet" type="text/css">
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    @RenderSection("Styles", required: false)
</head>

<body>
    <!-- Begin page -->
    <div class="wrapper-page">
        <div class="card">
            <div class="card-body">
                <h3 class="text-center m-0"><img src="/images/logo.png" height="30" alt="logo"></h3>
                <div class="p-3">

                    @RenderBody()

                    @*<form class="form-horizontal m-t-30" action="https://themesbrand.com/lexa/html/vertical-red/index.html">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" placeholder="Enter username">
            </div>
            <div class="form-group">
                <label for="userpassword">Password</label>
                <input type="password" class="form-control" id="userpassword" placeholder="Enter password">
            </div>
            <div class="form-group row m-t-20">
                <div class="col-6">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="customControlInline">
                        <label class="custom-control-label" for="customControlInline">Remember me</label>
                    </div>
                </div>
                <div class="col-6 text-right">
                    <button class="btn btn-primary w-md waves-effect waves-light" type="submit">Log In</button>
                </div>
            </div>
            <div class="form-group m-t-10 mb-0 row">
                <div class="col-12 m-t-20"><a href="pages-recoverpw.html" class="text-muted"><i class="mdi mdi-lock"></i> Forgot your password?</a></div>
            </div>
        </form>*@
                </div>
            </div>
        </div>

        <div class="m-t-40 text-center">
            @*<p>Don't have an account ? <a href="pages-register.html" class="text-danger">Signup Now</a></p>*@
            <p>© Hexagon</p>
        </div>
    </div>
    <!-- jQuery  -->
    <script src="/jquery/jquery.min.js"></script>
    <script src="/twitter-bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/metisMenu/metisMenu.js"></script>
    <script src="/js/jquery.slimscroll.js"></script>
    <script src="/js/waves.min.js"></script>
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.min.js"></script>
    <!-- App js -->
    <script src="/js/app.js"></script>
    @RenderSection("Scripts", required: false)

</body>
</html>