<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Informações Gerais</li>
                <li><a href="/" class="waves-effect"><i class="dripicons-meter"></i><span>Dashboard</span></a></li>
                <li><a href="/escala" class="waves-effect"><i class="dripicons-calendar"></i><span> Escala</span></a></li>
                <li><a href="/quartel" class="waves-effect"><i class="dripicons-view-thumb"></i><span> Quartel</span></a></li>
                <li><a href="/utilizador" class="waves-effect"><i class="dripicons-user"></i><span> Corpo Técnico</span></a></li>

                <li class="menu-title">Configurações</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i> <span>Escala <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="/escalatipodetalhe">Detalhe do Tipo da Escala</a></li>
                        <li><a href="/escalatipo">Tipo da Escala</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i> <span>Quartel <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="/batalhao">Batalhão</a></li>
                        <li><a href="/companhia">Companhia</a></li>
                        <li><a href="/viaturatipo">Tipo da Viatura</a></li>
                        <li><a href="/viatura">Viatura</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i> <span>Corpo Técnico <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="/funcao">Função</a></li>
                        <li><a href="/posto">Posto</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>

