<div class="left side-menu">
    <div class="slimscroll-menu" id="remove-scroll">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu" id="side-menu">
                <li class="menu-title">Informações Gerais</li>
                <li><a href="/" class="waves-effect"><i class="dripicons-meter"></i><span>Dashboard</span></a></li>
                <li><a href="/escala" class="waves-effect"><i class="dripicons-calendar"></i><span> Escala</span></a></li>
                <li><a href="/dispositivominimo" class="waves-effect"><i class="dripicons-calendar"></i><span> Dispositivo Mínimo</span></a></li>
                <li><a href="/quartel/quartelMapa" class="waves-effect"><i class="dripicons-view-thumb"></i><span> RSB - Dispositivo</span></a></li>
                @*<li><a href="/bombeiro" class="waves-effect"><i class="dripicons-user"></i><span> Corpo Operacional</span></a></li>*@

                <li class="menu-title">Configurações</li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i> <span>Escala <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="/escalatipo">Tipo da Ausência</a></li>
                        <li><a href="/escalaturno">Escala vs. Turno</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i> <span>RSB <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="/batalhao">Batalhão</a></li>
                        <li><a href="/companhia">Companhia</a></li>
                        <li><a href="/quartel">Quartel</a></li>
                        <li><hr /></li>
                        <li><a href="/viaturatipo">Tipo da Viatura</a></li>
                        <li><a href="/viatura">Viatura</a></li>
                    </ul>
                </li>
                <li>
                    <a href="javascript:void(0);" class="waves-effect"><i class="dripicons-briefcase"></i> <span>Corpo Operacional <span class="float-right menu-arrow"><i class="mdi mdi-chevron-right"></i></span></span></a>
                    <ul class="submenu">
                        <li><a href="/bombeiro">Bombeiro</a></li>
                        <li><a href="/funcao">Função</a></li>
                        <li><a href="/posto">Posto</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>

