@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acesso Negado";
}

<header>
    <br />
    <center>
        <h1>@ViewData["Title"]</h1>
        <p class="">Você não tem acesso a esta página.</p>
        <br />
        <br />
        <br />
        <a href="/" class="btn btn-primary w-md waves-effect waves-light">Voltar</a>
    </center>
</header>
