@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Accesso Negado";
}

<header>
    <center><h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">Você não tem acesso a esta página.</p>
        <br />
        <br />
        <br />
        <a href="/" class="btn btn-primary w-md waves-effect waves-light">Voltar</a>
    </center>
</header>
