@model IEnumerable<Batalhao>
@{
    ViewBag.Title = "Batalhão";
    ViewBag.Breadcrumbs = new List<Breadcrumb>()
{
new Breadcrumb() { Name = "Dashboard", Link = "/" },
new Breadcrumb() { Name = "Batalhão", Link = @Url.Action("Index","Batalhao"), IsActive = true}
};


    ViewData["CreateButtonLink"] = Url.Action("Create", "Batalhao");
}

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>@Html.DisplayNameFor(x => x.Nome)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var batalhao in Model)
                        {
                            <tr>
                                <td><a href="@Url.Action("Detail", "Batalhao", new {id = batalhao.Id})">@batalhao.Nome</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
