@model IEnumerable<Batalhao>
@{
    ViewData["Title"] = "Batalhão";
    ViewData["CreateButtonLink"] = Url.Action("Create", "Batalhao");
}

<div class="row">
    <div class="col-12">
        <div class="card m-b-20">
            <div class="card-body">
                <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                    <thead>
                        <tr>
                            <th>Name do Batalhão</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var batalhao in Model)
                        {
                            <tr>
                                <td><a href="@Url.Action("Edit", "Batalhao", new {id = batalhao.Id})">@batalhao.Nome</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>




