@using MapaDaForca.Helper;
@model ViaturaTipoFuncaoViewModel


<div class="card m-b-20 viaturatipofuncaoSection">
    <div class="card-body">
        <h4 class="mt-0 header-title">Função por Tipo da Viatura</h4>
        <br />
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th style="width: 60%;">Função</th>
                    <th style="width: 30%;">Qtde.</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var viaturaTipoFuncao in Model.ViaturaTipoFuncoes.OrderBy(x => x.Funcao.Nome))
                    {
                        <partial name="~/Views/ViaturaTipoFuncao/_ViaturaTipoFuncaoLine.cshtml" model="viaturaTipoFuncao" />
                    }
                }
                <tr>
                    <td style="width: 60%;">
                        <select id="ddlViaturas" class="form-control" asp-items="@(new SelectList(Model.Funcoes,"Id","Nome"))"></select>
                    <td style="width: 40%;">
                        <div>
                            <input type="number" value="1" class="form-control" required="" data-val="true" data-val-required="The Ano field is required." id="Quantidade" name="Quantidade">
                        </div>
                    </td>
                    <td style="width: 10%;">
                        <button id="viaturaTipoFuncaoSave" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Adicionar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $("#viaturaTipoFuncaoSave").click(function (element) {
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "ViaturaTipoFuncao")",
                data: {
                    viaturaTipoId: $("#ViaturaTipo_Id").val(),
                    quantidade: $("#Quantidade").val(),
                    funcaoId: $("#ddlViaturas option:selected").val()
                },
                success: function (data) {
                    if (data.success == true) {
                        $(".viaturatipofuncaoSection").remove()
                        $("#myPartialViewContainer").load('/viaturatipofuncao/@Model.ViaturaTipoId');
                        $.notify(data.message, "success");
                    }
                    else {
                        $.notify(data.message, "error");
                    }
                }
            });
        });


        $(".viaturaTipoFuncaoDelete").click(function (element) {
            var id = $(element.currentTarget).closest('.viaturaTipoFuncaoLine').attr("data-viaturatipofuncaoid");
             $.ajax(
                {
                    type: "Delete",
                    url: "@Url.Action("Delete", "ViaturaTipoFuncao")",
                    data: { id: id},
                    success: function (data) {
                        if (data.success == true) {
                            $(element.currentTarget).closest('.viaturaTipoFuncaoLine').remove();
                            $.notify(data.message, "success");
                        }
                        else {
                            $.notify(data.message, "error");
                        }
                    }
                });
        })
    });

</script>