@using MapaDaForca.Model.Enums;
@model BombeiroFuncaoViewModel


<div class="card m-b-20 bombeiroFuncaoSection">
    <div class="card-body">
        <h4 class="mt-0 header-title">Função por Bombeiro</h4>
        <br />
        <table class="table table-striped mb-0">
            <thead>
                <tr>
                    <th style="width: 60%;">@Html.DisplayNameFor(x => x.BombeiroFuncoes[0].FuncaoId)</th>
                    <th style="width: 30%;">Função Principal</th>
                    <th style="width: 10%;"></th>
                </tr>
            </thead>

            <tbody>
                @{
                    foreach (var bombeiroFuncao in Model.BombeiroFuncoes.OrderBy(x => x.Funcao.Nome))
                    {
                        <partial name="~/Views/BombeiroFuncao/_BombeiroFuncaoLine.cshtml" model="bombeiroFuncao" />
                    }
                }
                <tr>
                    <td style="width: 60%;">
                        <select id="ddlFuncoes" class="form-control" asp-items="@(new SelectList(Model.Funcoes.OrderBy(x=> x.Nome),"Id","Nome"))"></select>
                    <td style="width: 40%;">
                        <div>
                            <input type="checkbox" id="chkFuncaoPrincipal" switch="success">
                            <label for="chkFuncaoPrincipal" data-on-label="Sim" data-off-label="Não"></label>
                        </div>
                    </td>
                    <td style="width: 10%;">
                        <button id="bombeiroFuncaoSave" type="button" class="btn btn-primary btn-sm waves-effect waves-light">Adicionar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>


<script type="text/javascript">

    $(document).ready(function () {

        $("#bombeiroFuncaoSave").click(function (element) {
            $("#myPartialViewContainer").LoadingOverlay("show");
            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "BombeiroFuncao")",
                data: {
                    bombeiroId: $("#Bombeiro_Id").val(),
                    funcaoPrincipal: $('#chkFuncaoPrincipal').prop('checked'),
                    funcaoId: $("#ddlFuncoes option:selected").val()
                },
                success: function (data) {                    
                    if (data.success == true) {
                        $(".bombeiroFuncaoSection").remove()
                        $("#myPartialViewContainer").load('/bombeiroFuncao/@Model.BombeiroId');
                        $.notify(data.message, "success");
                    }
                    else {
                        $.notify(data.message, "error");
                    }
                }
            });
            $("#myPartialViewContainer").LoadingOverlay("hide");
        });


        $(".bombeiroFuncaoDelete").click(function (element) {
            var id = $(element.currentTarget).closest('.bombeiroFuncaoLine').attr("data-bombeiroFuncaoId");
             $.ajax(
                {
                    type: "Delete",
                    url: "@Url.Action("Delete", "BombeiroFuncao")",
                    data: { id: id},
                    success: function (data) {
                        if (data.success == true) {
                            $(element.currentTarget).closest('.bombeiroFuncaoLine').remove();
                            $.notify(data.message, "success");
                        }
                        else {
                            $.notify(data.message, "error");
                        }
                    }
                });
        })
    });

</script>